<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://laptop-p286edhb/HelloService/Service.svc/HelloService"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
                contract="HelloService.IHelloService" name="basicHttpBinding" />
            <endpoint address="net.tcp://laptop-p286edhb/HelloService/Service.svc/HelloService"
                binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="HelloService.IHelloService" name="netTcpBinding">
                <identity>
                    <servicePrincipalName value="host/LAPTOP-P286EDHB" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>