<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\joaki\source\repos\plus\hosting\windowsformsclient1\windowsformsclient1\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
                bindingConfiguration="basicHttpBinding" contract="HelloService.IHelloService"
                name="basicHttpBinding" />
            <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
                bindingConfiguration="netTcpBinding" contract="HelloService.IHelloService"
                name="netTcpBinding">
                <identity>
                    <userPrincipalName value="LAPTOP-P286EDHB\joaki" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>